.DS_Store
node_modules/

build/
dist/

.zadark

# Xcode
## User settings
xcuserdata/
## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

# Safari Extension
# safari/ZaDark/ZaDark Extension/Resources/manifest.json
src/safari/**/Resources/*
!src/safari/**/Resources/.gitkeep

# src/safari/**/Resources/js/*
# src/safari/**/Resources/libs/*
# !src/safari/**/Resources/js/.gitkeep
# !src/safari/**/Resources/libs/.gitkeep
