.DS_Store
node_modules/

# ZaDark
build/
dist/
.zadark

# Xcode
## User settings
xcuserdata/
## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

# Safari Extension
src/browser-ext/vendor/safari/ZaDark Extension/Resources/*
!src/browser-ext/vendor/safari/ZaDark Extension/Resources/images
!src/browser-ext/vendor/safari/ZaDark Extension/Resources/.gitkeep

tools/**/config.ini
