/*
  ZaDark – Zalo Dark Mode
  Made by Quaric
*/

:root {
  color-scheme: light dark;
}

html[data-zadark-theme="light"] {
  body {
    -webkit-font-smoothing: antialiased;
  }
}

html[data-zadark-theme="dark"] {
  body {
    -webkit-font-smoothing: auto;
    border: 1px solid var(--border-base);
  }

  div::-webkit-scrollbar-thumb {
    background: var(--zadark-grey-300);
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 480px;
}
