html[data-theme-mode="light"] {
  &:root {
    // Source: Zalo

    --white-700: hsla(0, 0%, 100%, 0.1);
    --white-600: hsla(0, 0%, 100%, 0.25);
    --white-500: hsla(0, 0%, 100%, 0.5);
    --white-400: hsla(0, 0%, 100%, 0.75);
    --white-300: #fff;
    --white-base: #fff;

    --neutral-700: #e5e7eb;
    --neutral-600: #abb4bc;
    --neutral-500: #72808e;
    --neutral-400: #394e60;
    --neutral-300: #001a33;
    --neutral-200: #081020;
    --neutral-100: #050a19;
    --neutral-base: #001a33;

    --grey-700: #fbfbfd;
    --grey-600: #f4f5f7;
    --grey-500: #eeeff2;
    --grey-400: #e8eaef;
    --grey-300: #e1e4ea;
    --grey-base: #e1e4ea;

    --blue-700: #e5efff;
    --blue-650: #c8deff;
    --blue-600: #abcdff;
    --blue-500: #72abff;
    --blue-400: #3989ff;
    --blue-300: #0068ff;
    --blue-base: #0068ff;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }
}

// Dark Default
html[data-theme-mode="dark"] {
  &:root {
    // Source: za-dark.scss

    --white-700: hsla(0, 0%, 20%, 0.1);
    --white-600: hsla(0, 0%, 20%, 0.25);
    --white-500: hsla(0, 0%, 20%, 0.5);
    --white-400: hsla(0, 0%, 20%, 0.75);
    --white-300: #18191a;
    --white-base: #18191a;

    --neutral-700: #4f5051;
    --neutral-600: #747576;
    --neutral-500: #999a9a;
    --neutral-400: #bebfbf;
    --neutral-300: #e3e3e3;
    --neutral-200: #f6f6f6;
    --neutral-100: #ffffff;
    --neutral-base: #e3e3e3;

    --grey-700: #232525;
    --grey-600: #2a2b2c;
    --grey-500: #313233;
    --grey-400: #38393a;
    --grey-300: #3d3e3f;
    --grey-base: #3d3e3f;

    --blue-700: #0f2345;
    --blue-650: #0e2d5b;
    --blue-600: #0b3a7e;
    --blue-500: #074bad;
    --blue-400: #035bdc;
    --blue-300: #3989ff;
    --blue-base: #3989ff;
  }

  div::-webkit-scrollbar-thumb {
    background: var(--grey-300);
  }

  body {
    -webkit-font-smoothing: auto;
  }
}

// Dark Dimmed
html[data-theme-mode="dark"][data-dark-theme="dark_dimmed"] {
  &:root {
    // Source: za-dark.scss

    --neutral-700: #58595a;
    --neutral-600: #7b7c7d;
    --neutral-500: #9e9f9f;
    --neutral-400: #c1c2c2;
    --neutral-300: #e5e5e5;
    --neutral-200: #f6f6f6;
    --neutral-100: #ffffff;
    --neutral-base: #e5e5e5;

    --grey-700: #2d3031;
    --grey-600: #343637;
    --grey-500: #3a3d3e;
    --grey-400: #424444;
    --grey-300: #464849;
    --grey-base: #464849;

    --white-700: hsla(0, 0%, 27%, 0.1);
    --white-600: hsla(0, 0%, 27%, 0.25);
    --white-500: hsla(0, 0%, 27%, 0.5);
    --white-400: hsla(0, 0%, 27%, 0.75);
    --white-300: #232526;
    --white-base: #232526;
  }
}

html:root {
  --primary-base: #0E70FF;
  --primary-dark: #035bdc;

  --border-base: var(--grey-300);
  --border-radius-base: 4px;

  --font-extrabold: 800;
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;

  margin: 0;
  padding: 0;

  background: var(--white-300);
  color: var(--neutral-base);
}

// Begin: Reset

* {
  box-sizing: border-box;
}

a {
  color: var(--primary-base);
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--primary-dark);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-position: inside;
  padding-left: 16px;

  li {
    line-height: 1.6;
  }
}

code {
  padding: 2px 4px;
  border-radius: 4px;
  background: var(--grey-500);
}

// END: Reset

// BEGIN: Utils

.block {
  display: block;
}

.flex {
  display: flex;

  &.items-center {
    align-items: center;
  }
}
.flex-1 {
  flex: 1;
}

.mt-4 {
  margin-top: 16px;
}
.mt-8 {
  margin-top: 32px;
}

.mr-1 {
  margin-right: 4px;
}
.mr-2 {
  margin-right: 8px;
}
.mr-4 {
  margin-right: 16px;
}

.mb-2 {
  margin-bottom: 8px;
}
.mb-4 {
  margin-bottom: 16px;
}

.ml-1 {
  margin-left: 4px;
}
.ml-2 {
  margin-left: 8px;
}

.p-4 {
  padding: 16px;
}

.text-neutral-500 {
  color: var(--neutral-500);
}

.font-semibold {
  font-weight: var(--font-semibold);
}

.text-2xl {
  font-size: 24px;
}

.text-zadark {
  font-family: "Bubblegum Sans", cursive;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  user-select: none;
}

// END: Utils

header.main-header {
  position: sticky;
  top: 0;
  z-index: 9999;

  padding: 16px;
  border-bottom: 1px solid var(--border-base);
  background-color: var(--grey-700);

  display: flex;
  align-items: center;

  .ext-logo {
    flex: 1;
    margin-right: 8px;

    a {
      display: inline-block;
      margin-top: 4px;
    }

    img {
      height: 20px;
    }
  }

  .ext-links {
    color: var(--neutral-500);

    &-item {
      a {
        color: var(--neutral-base);

        &:hover {
          color: var(--neutral-400);
        }
      }
    }

    .divider {
      &::after {
        content: "·";
        margin: 0 4px;
      }
    }
  }
}

.form-radio-group {
  margin-top: -16px;
  margin-bottom: -16px;
}
.form-radio-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      ~ .checkmark {
        border-color: var(--primary-base);

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .checkmark {
    position: relative;
    height: 20px;
    width: 20px;
    margin-right: 16px;

    border: 2px solid var(--border-base);
    border-radius: 50rem;

    &:after {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;

      width: 10px;
      height: 10px;
      border-radius: 6px;
      background: var(--primary-base);

      opacity: 0;
    }
  }

  .label-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    border-bottom: 1px solid var(--border-base);

    .description {
      margin-top: 4px;
      font-size: 12px;
      color: var(--neutral-500);
    }
  }

  &:last-child {
    .label-container {
      border-bottom: 0;
    }
  }
}

.form-switch-group {
  margin-top: -16px;
  margin-bottom: -16px;

  .form-switch-container {
    padding: 16px 0;
    border-bottom: 1px solid var(--border-base);

    &:last-child {
      border-bottom: 0;
    }
  }
}
// .form-switch-container {}

.form-select {
  display: inline-block;
  max-width: 100%;
  height: 32px;
  padding: 0 16px;
  padding-right: 32px;

  border: 1px solid var(--border-base);
  border-radius: var(--border-radius-base);

  background-color: var(--grey-700);
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iIzU4NjA2OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40MjcgOS40MjdsMy4zOTYgMy4zOTZhLjI1MS4yNTEgMCAwMC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwMDExLjM5NiA5SDQuNjA0YS4yNS4yNSAwIDAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3TDcuODIgMy4wNzJhLjI1LjI1IDAgMDEuMzU0IDBMMTEuNTcgNi40N2EuMjUuMjUgMCAwMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMDEtLjE3Ny0uNDI3eiIgLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 16px;

  color: var(--neutral-base);
  font-size: 14px;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--grey-base);
    -webkit-transition: 0.25s;
    transition: 0.25s;

    border-radius: 50rem;

    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: 0.25s;
      transition: 0.25s;
      border-radius: 50rem;
    }
  }

  input:checked + .form-switch-slider {
    background-color: var(--primary-base);
  }

  input:checked + .form-switch-slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
}

.panel {
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border-base);
  border-radius: var(--border-radius-base);

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &-heading {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--border-base);
    background-color: var(--grey-700);
  }

  &-body {
    padding: 16px;
  }
}
