/*
  ZaDark – Zalo Dark Mode
  Made by NCDAi Studio
*/

:root {
  color-scheme: light dark;
}

html[data-theme-mode="dark"] {
  body {
    border: 1px solid var(--border-base);
  }
}

.ext-container {
  min-width: 512px;
}

#theme-mode-auto,
#theme-mode-custom {
  display: none;
}

#js-panel-privacy {
  display: none;
}
