/*
  ZaDark – Zalo Dark Mode
  Made by NCDAi Studio
*/

:root {
  color-scheme: light dark;
}

html[data-theme-mode="dark"] {
  body {
    border: 1px solid var(--border-base);
  }
}

.ext-container {
  min-width: 512px;
}

#theme-mode-auto,
#theme-mode-single {
  display: none;
}

.panel-dark-theme,
.panel-light-theme {
  .badge-active {
    display: none;
    padding: 2px 12px;
    border-radius: 50rem;
    border: 1px solid var(--blue-400);

    background: var(--blue-650);
    color: var(--blue-300);
    font-size: 12px;
  }
}

@mixin _panelThemeActive {
  --panel-active-border: var(--blue-400);
  --panel-active-bg: var(--blue-700);

  &.panel {
    border-color: var(--panel-active-border);

    .panel-heading {
      background: var(--panel-active-bg);
      border-color: var(--panel-active-border);

      .badge-active {
        display: flex;
      }
    }
  }
}

.panel-dark-theme {
  @media (prefers-color-scheme: dark) {
    @include _panelThemeActive();
  }
}

.panel-light-theme {
  @media (prefers-color-scheme: light) {
    @include _panelThemeActive();
  }
}

#js-panel-privacy {
  display: none;
}
