<!DOCTYPE html>
<html lang="en" data-theme-mode="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Changelog | ZaDark</title>

  <link rel="stylesheet" href="../assets/css/core.css">
  <link rel="stylesheet" href="../assets/css/changelog.css">

  <style id="za-dark-font">
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
  </style>
</head>

<body>
  <header class="main-header">
    <div class="ext-name">
      <h1 class="ext-name-title">ZaDark</h1>
      <h4 class="ext-name-slogan">Best Dark Theme for Zalo</h4>
    </div>

    <div class="ext-links">
      <span class="ext-links-item divider">
        <a href="#home" id="ext-links-home" title="Home">About</a>
      </span>

      <span class="ext-links-item divider">
        <a href="https://github.com/ncdai3651408/za-dark/wiki/ZaDark-Docs" title="ZaDark Docs" target="_blank">Docs</a>
      </span>

      <span class="ext-links-item divider">
        <a href="https://github.com/ncdai3651408/za-dark" title="GitHub" target="_blank">GitHub</a>
      </span>

      <span class="ext-links-item">
        <a href="#changelog" id="ext-version1" title="Changelog"></a>
      </span>
    </div>
  </header>

  <main class="p-4">
    <h1 class="text-2xl mb-4 font-semibold">What's new in ZaDark <span id="ext-version2"></span></h1>

    <div class="panel">
      <div class="panel-body">
        <p>
          Hi! You have successfully updated
          <a href="https://ncdai.notion.site/ZaDark-Best-Dark-Theme-for-Zalo-Web-PC-0b92c746edc448f2a63c0e26176fb246"
            target="_blank">ZaDark</a>. Here's what's new in this version:
        </p>

        <ul>
          <li>Fixed: .call-msg.me</li>
        </ul>

        <p>Thank you for using!</p>
      </div>
    </div>
  </main>

  <script src="../assets/libs/jquery/jquery-3.6.0.min.js"></script>
  <script src="../assets/js/utils.js"></script>
  <script src="../assets/js/changelog.js"></script>
</body>

</html>