<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <link rel="stylesheet" href="../assets/css/popup.css">
</head>

<body>
  <div class="container">
    <header>
      <h1 class="title">ZaDark</h1>
      <h4 class="sub-title">Best Dark Theme for Zalo</h4>
    </header>

    <main>
      <div class="select-theme" id="select-theme">
        <label class="form-radio-container">
          <input type="radio" name="theme" value="dark">
          <span class="checkmark"></span>

          <span class="label-container">
            <span class="label">Dark</span>
          </span>
        </label>

        <label class="form-radio-container">
          <input type="radio" name="theme" value="light">
          <span class="checkmark"></span>

          <span class="label-container">
            <span class="label">Light</span>
          </span>
        </label>

        <label class="form-radio-container">
          <input type="radio" name="theme" value="system">
          <span class="checkmark"></span>

          <span class="label-container">
            <span class="label">System</span>
            <span class="description">Based on system setting</span>
          </span>
        </label>

        <label class="form-radio-container">
          <input type="radio" name="theme" value="auto">
          <span class="checkmark"></span>

          <span class="label-container">
            <span class="label">Auto</span>
            <span class="description">
              Based on time of day
            </span>
          </span>
        </label>
      </div>
    </main>

    <footer>
      <span class="made-by">
        Made by <a href="https://www.facebook.com/iamncdai" target="_blank">NCDAi Studio</a>
      </span>

      <span class="github">
        <a href="https://github.com/ncdai3651408/za-dark" target="_blank">GitHub</a>
      </span>

      <span class="version" id="version"></span>
    </footer>
  </div>

  <script src="../assets/libs/jquery/jquery-3.6.0.min.js"></script>
  <script src="../assets/js/utils.js"></script>
  <script src="../assets/js/popup.js"></script>
</body>

</html>
