@mixin opensans-font($fontsPath) {
  @font-face {
    font-family: "Open Sans";
    src: url("#{$fontsPath}/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("#{$fontsPath}/OpenSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("#{$fontsPath}/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }
}
