@mixin zadark-icons($fontsPath) {
  @font-face {
    font-family: "ZaDarkIcons";
    src: url("#{$fontsPath}/ZaDarkIcons.ttf?g71g63") format("truetype"),
      url("#{$fontsPath}/ZaDarkIcons.woff?g71g63") format("woff"),
      url("#{$fontsPath}/ZaDarkIcons.svg?g71g63#icomoon") format("svg");
    font-weight: 400;
    font-style: normal;
  }

  .zadark-icon {
    font: normal normal normal 14px/1 ZaDarkIcons;

    &--zadark::before {
      content: "\e903";
    }

    &--user:before {
      content: "\e901";
    }

    &--group:before {
      content: "\e900";
    }

    &--question:before {
      content: "\e902";
    }

    &--check:before {
      content: "\e904";
    }
  }
}
