@mixin expand-zalo-reaction {
  .emoji-list-wrapper.hide-elist {
    .zadark-reaction__popover-content {
      display: none;
    }
  }

  .zadark-reaction {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 8px;

    &[data-open="true"] {
      .zadark-reaction__popover-trigger svg {
        transform: rotate(45deg);
      }

      .zadark-reaction__popover-content {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }
    }

    &[data-open="false"] {
      .zadark-reaction__popover-content {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .zadark-reaction__popover-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 22px;
    height: 22px;

    border: 0;
    border-radius: 11px;
    background: var(--N30);
    color: var(--text-primary);
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
      transition: transform 0.2s ease-in-out;
    }
  }

  .zadark-reaction__popover-content {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    width: 202px;
    height: 202px;
    transform: translate(-180px, -198px);

    border: 1px solid var(--zadark-reaction-border);
    background-color: var(--zadark-reaction-background);
    border-radius: var(--zadark-rounded-base);
    box-shadow: 4px 4px 12px var(--BA50);
    transition:
      opacity 0.2s ease-in-out,
      visibility 0.2s ease-in-out;
  }

  .zadark-reaction__popover-content__list {
    position: relative;
    overflow: auto;

    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    padding: 5px;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .zadark-reaction__popover-content__recent {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));

    &[data-has-recent-emojis="true"] {
      padding: 2px 5px;
      border-top: 1px solid var(--border);
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      color: var(--text-secondary);
    }

    .emoji-sizer.emoji-outer {
      top: 0;
    }
  }

  .zadark-reaction__emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;

    > span {
      cursor: pointer;
    }

    &:hover > span {
      animation: hover-reaction-icon 0.1s;
      animation-fill-mode: forwards;
    }
  }
}
