/*
  ZaDark – Zalo Dark Mode
  Made by NCDAi Studio
*/

@mixin cssVariables {
  // Neutral
  --N10: #2c2e2f;
  --N20: #353637;
  --N30: #464849;
  --N40: #696b6b;
  --N50: #696b6b;
  --N60: #7b7c7d;
  --N70: #7b7c7d;
  --N80: #9e9f9f;
  --N90: #9e9f9f;
  --N100: #c1c2c2;
  --N200: #c1c2c2;
  --N300: #e5e5e5;

  // NeutralGrey
  --NG10: #2c2e2f;
  --NG20: #303233;
  --NG30: #3d3f40;
  --NG40: #696b6b;
  --NG50: #9e9f9f;
  --NG60: #c1c2c2;
  --NG70: #c1c2c2;
  --NG80: #c1c2c2;
  --NG90: #e5e5e5;
  --NG100: #f6f6f6;

  // Blue
  --B10: #0f2345;
  --B20: #0e2d5b;
  --B30: #0b3a7e;
  --B40: #074bad;
  --B50: #035bdc;
  --B60: #3989ff;
  --B70: #3989ff;
  --B80: #72abff;
  --B90: #72abff;
  --B100: #72abff;

  // TealBlue
  --STB10: #25374b;
  --STB20: #31465e;
  --STB30: #415a77;
  --STB40: #58789d;
  --STB50: #8da6c4;
  --STB60: #b3c6db;
  --STB70: #b3c6db;
  --STB80: #b3c6db;
  --STB90: #b3c6db;
  --STB100: #b3c6db;

  // SkyBlue
  --SKB10: #002e4a;
  --SKB20: #004970;
  --SKB30: #006796;
  --SKB40: #0689bd;
  --SKB50: #12aee2;
  --SKB60: #3ac8f0;
  --SKB70: #3ac8f0;
  --SKB80: #3ac8f0;
  --SKB90: #3ac8f0;
  --SKB100: #3ac8f0;

  // Red
  --R10: #431418;
  --R20: #431418;
  --R30: #58181c;
  --R40: #791a1f;
  --R50: #a61d24;
  --R60: #d32029;
  --R70: #d32029;
  --R80: #d32029;
  --R90: #d32029;
  --R100: #d32029;

  // Orange
  --O10: #432716;
  --O20: #58351c;
  --O30: #58351c;
  --O40: #794620;
  --O50: #a65c26;
  --O60: #d3722b;
  --O70: #d3722b;
  --O80: #d3722b;
  --O90: #d3722b;
  --O100: #d3722b;

  // Yellow
  --Y10: #443b11;
  --Y20: #595014;
  --Y30: #7c6e14;
  --Y40: #aa9514;
  --Y50: #d8bd14;
  --Y60: #e8d639;
  --Y70: #e8d639;
  --Y80: #e8d639;
  --Y90: #e8d639;
  --Y100: #e8d639;

  // Green
  --GR10: #1d3712;
  --GR20: #274916;
  --GR30: #306317;
  --GR40: #3c8618;
  --GR50: #49aa19;
  --GR60: #49aa19;
  --GR70: #49aa19;
  --GR80: #49aa19;
  --GR90: #49aa19;
  --GR100: #49aa19;

  // Teal
  --TL10: #113536;
  --TL20: #144848;
  --TL30: #146262;
  --TL40: #138585;
  --TL50: #13a8a8;
  --TL60: #13a8a8;
  --TL70: #13a8a8;
  --TL80: #13a8a8;
  --TL90: #13a8a8;
  --TL100: #13a8a8;

  // Purple
  --PU10: #24163a;
  --PU20: #301c4d;
  --PU30: #3e2069;
  --PU40: #51258f;
  --PU50: #642ab5;
  --PU60: #642ab5;
  --PU70: #642ab5;
  --PU80: #642ab5;
  --PU90: #642ab5;
  --PU100: #642ab5;

  // Pink
  --PI10: #40162f;
  --PI20: #551c3b;
  --PI30: #75204f;
  --PI40: #a02669;
  --PI50: #cb2b83;
  --PI60: #cb2b83;
  --PI70: #cb2b83;
  --PI80: #cb2b83;
  --PI90: #cb2b83;
  --PI100: #cb2b83;

  // BlackAlpha
  --BA0: transparent;
  --BA10: rgba(0, 0, 0, 0.1);
  --BA20: rgba(0, 0, 0, 0.2);
  --BA30: rgba(0, 0, 0, 0.3);
  --BA40: rgba(0, 0, 0, 0.4);
  --BA50: rgba(0, 0, 0, 0.5);
  --BA60: rgba(0, 0, 0, 0.6);
  --BA70: rgba(0, 0, 0, 0.7);
  --BA80: rgba(0, 0, 0, 0.8);
  --BA90: rgba(0, 0, 0, 0.9);
  --BA100: #fff;

  // WhiteAlpha
  --WA0: hsla(0, 0%, 27%, 0);
  --WA10: hsla(0, 0%, 27%, 0.1);
  --WA20: hsla(0, 0%, 27%, 0.2);
  --WA30: hsla(0, 0%, 27%, 0.3);
  --WA40: hsla(0, 0%, 27%, 0.4);
  --WA50: hsla(0, 0%, 27%, 0.5);
  --WA60: hsla(0, 0%, 27%, 0.6);
  --WA70: hsla(0, 0%, 27%, 0.7);
  --WA80: hsla(0, 0%, 27%, 0.8);
  --WA90: hsla(0, 0%, 27%, 0.9);
  --WA100: #232526;

  // ----------------

  --bg-default: var(--WA100);
  --border: var(--NG30);
  --primary-text: #e5e5e5; // --N300
  --primary-text-50: rgba(229, 229, 229, 0.5); // --N300, Alpha 0.5
  --secondary-text: var(--N80);

  --HL_photo-bg: #545454;
  --HL_input: rgba(0, 133, 255, 0.25);
  --HL_sidebar: #2d3031;
  --HL_sidebar-active: #3a3d3e;
  --HL_sidebar-hover: #3a3d3e;

  --link: var(--B50);
  --error: var(--R60);
  --success: var(--GR60);
  --disable-text: var(--N60);
  --primary-icon: var(--N80);
  --secondary-icon: var(--N60);
  --icon-hover-bg: var(--N20);
  --disable-icon: var(--N60);

  --input-white: var(--WA100);
  --input-placeholder-wh: var(--N80);
  --input-icon-wh: var(--N100);
  --input-grey: var(--N20);
  --input-placeholder-gr: var(--N100);
  --input-icon-gr: var(--N100);

  --self-bubble-chat: var(--B10);
  --self-bubble-chat-shadow: transparent;
  --other-bubble-chat: var(--WA100);
  --selected-bubble-chat: var(--B10);

  --self-quote: var(--B20);
  --other-quote: var(--NG10);
  --text-quote: var(--primary-text-50);

  --bg-default-csc: var(--NG10);
  --bg-divide-bb-blue: var(--N60);

  --grey-dot: var(--N60);
  --red-dot: var(--R60);

  --lst-item: var(--WA100);
  --lst-item-hover: var(--NG10);
  --lst-item-select: var(--NG10);

  --item-wa-hover: var(--NG30);
  --item-wa-select: var(--NG30);

  --title-bar: var(--NG10);
  --tab-txt: var(--N80);
  --tip-bg: var(--B50);
  --href: var(--B50);

  // ----------------

  --brand-primary: #0068ff;

  --self-bubble-chat-border: var(--B20);
  --self-bubble-chat-action-bg: var(--B20);
  --self-bubble-chat-action-border: var(--B30);

  --other-bubble-chat-border: var(--NG20);
  --other-bubble-chat-action-bg: var(--NG10);
  --other-bubble-chat-action-border: var(--NG30);

  --admin-bubble-chat-border: var(--N40);

  --message-view-gradient: linear-gradient(to top, #141414, #18191a);
  --file-progress-track: var(--N20);
  --self-file-progress-track: var(--B30);
  --btn-primary-bg: linear-gradient(45deg, #408dfd, #0068ff);
}

html[data-zadark-theme="dark"] {
  &:root {
    @include cssVariables();
  }

  div::-webkit-scrollbar-thumb {
    background: var(--NG60);
  }

  ::selection {
    background: var(--brand-primary);
  }

  body.zadark {
    background-color: var(--bg-default);
    -webkit-font-smoothing: auto;

    #main-tab {
      border-right: 1px solid var(--border);
    }

    .chat-info-link__title {
      color: var(--primary-text);
    }

    .chat-info-general__item:after {
      border-color: var(--border);
    }

    .chat-info-general__item--title--sub {
      color: var(--secondary-text);
    }

    // About Zalo > Version
    .app-info__header {
      align-items: center;
      color: #fff;
      background-color: var(--brand-primary);
    }
    .app-info__section {
      padding: 16px;
    }

    .message-view {
      &__blur__overlay {
        &,
        &_noavatar {
          background: var(--message-view-gradient);
        }
      }
    }

    .media-tabs__main {
      border-bottom-color: var(--border);

      &.active {
        background-color: var(--WA100);
        border-color: transparent var(--border);
      }
    }

    .emoji-tabs {
      background-color: var(--WA100);
    }

    .z--btn--fill--primary {
      background: var(--btn-primary-bg);
      color: #fff;
    }

    .z--btn--fill--secondary {
      border: 1px solid var(--brand-primary);
      background: transparent;
      color: var(--brand-primary);

      &:hover {
        background: var(--brand-primary);
        color: #fff;
      }
    }

    .z--btn--fill--secondary-red {
      border: 1px solid var(--R60);
      background: transparent;
      color: var(--R60);

      &:hover {
        background: var(--R60);
        color: #fff;
      }

      &.--disabled {
        color: var(--R60);
        opacity: 0.5;
      }
    }

    .z--btn--fill--danger {
      color: #fff;
    }

    .reaction-emoji-list {
      color: var(--WA70);
      border: 0.5px solid var(--NG30);
    }

    .leftbar-tab {
      color: var(--primary-text);
      -webkit-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;

      &:hover {
        background-color: var(--HL_sidebar-hover);
      }
    }

    .leftbar-unread {
      color: #fff !important;
    }

    .user-status-footer {
      .footer-text {
        color: #fff;
      }
    }

    .file-sidebar__option {
      &:hover {
        background-color: var(--NG10);
      }

      &.chat-message.first-selected > .file-sidebar__option__title,
      &.chat-message.last-selected > .file-sidebar__option__title,
      &.selected > .file-sidebar__option__title {
        color: var(--primary-text);
      }

      &.chat-message.first-selected .file-sidebar__option__icon,
      &.chat-message.last-selected .file-sidebar__option__icon,
      &.selected .file-sidebar__option__icon {
        color: var(--primary-text);
      }
    }

    .file-sidebar__option__icon {
      &.fa-file-icon-drive {
        color: #fff !important;
      }
      &.fa-file-icon-dropbox {
        color: #fff !important;
      }
    }

    .chat-onboard,
    .friend-center-main.subtract-title {
      height: 100vh;
    }

    .chips--choice.--active {
      color: #fff;
    }

    .chat-date {
      color: var(--N300);
      > span {
        background: var(--WA50);
      }
    }

    #contact-search-input {
      color: var(--primary-text);
    }

    .phone-i-input {
      color: var(--primary-text);
      background-color: var(--WA100);
    }

    .input {
      color: var(--primary-text);
      background-color: var(--WA100);
    }

    .chat-input__content.highlight {
      border-color: var(--NG30);
    }

    .chat-input__content__input .quote-banner {
      height: 40px;
      margin: 12px 16px 0;
      background-color: var(--NG10);
    }

    .chat-message {
      .extra-btn {
        padding: 6px 16px;
        background-color: var(--WA100);
        color: var(--primary-text);

        -webkit-transition: all 250ms ease-in-out;
        -moz-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;

        &:hover {
          color: #fff;
        }
      }
    }

    .chat-group-topic__item {
      min-height: 56px;
      .icon-container {
        height: 56px;
      }
    }

    .chat-group-topic-outer {
      min-height: 58px;
    }

    .group-board-page {
      .virtualized-scroll {
        background: var(--WA100);
      }
    }

    .group-board-page .gb-tab.chat-message.first-selected,
    .group-board-page .gb-tab.chat-message.last-selected,
    .group-board-page .gb-tab.selected {
      color: var(--B60);
    }

    .cb-info-file-item__actions-container {
      > div {
        background: transparent !important;
      }
    }

    #group-creator .create-group__item__link-icon {
      color: #fff;
    }

    div[data-id="div_TabCT_FrdReqList"],
    div[data-id="div_TabCT_JoinedGrpList"] {
      background: var(--message-view-gradient) !important;
    }

    .chat-message.highlighted .card:not(.card--group-photo) {
      background-color: var(--B10);
      &:hover {
        background-color: var(--B20);
      }
    }

    .sticker-selector__menu {
      height: 48px;
    }

    #stickerSelector {
      background-color: var(--WA100) !important;
    }

    .media-dock-tabs {
      &:not(.docked) {
        height: 48px;
        border-bottom: 0;
      }
    }

    .gradient-border.left,
    .gradient-border.right .message-view__guide__item__sign {
      .fa-sendtome-image {
        color: #fff;
      }
    }

    .message-view__guide__item__sign {
      color: var(--N300);
    }

    .card-send-time {
      color: var(--primary-text-50);
    }

    .chat-message {
      line-height: 1.5;
    }

    .file-message__container {
      .file-progress-no {
        color: var(--primary-text-50);
      }
      .file-progress__track {
        background-color: var(--file-progress-track);
      }
    }

    .img-msg-v2.-admin > .img-msg-v2__bub {
      border: 1px solid var(--admin-bubble-chat-border);
    }

    .reacts-list,
    .msg-reaction-icon {
      border: 1px solid var(--other-bubble-chat-action-border);
      background-color: var(--other-bubble-chat-action-bg);
    }

    .card {
      border: 1px solid var(--other-bubble-chat-border);
      box-shadow: none;

      &.card--oa,
      &.card--picture,
      &.card--video,
      &.card--sticker,
      &.card--group-photo {
        &,
        &.admin {
          border: 0;
        }
      }

      &.admin {
        border: 1px solid var(--admin-bubble-chat-border);
      }

      &.me {
        border-color: var(--self-bubble-chat-border);

        .file-message__container {
          .file-message__actions-icon {
            border-color: var(--self-bubble-chat-action-border);
            background-color: var(--self-bubble-chat-action-bg);
          }

          .file-progress__track {
            background-color: var(--self-file-progress-track);
          }

          .file-message__content-info-size {
            color: var(--primary-text-50);
          }
        }

        &.card--link {
          .card-content > .card--link__sub {
            color: var(--primary-text-50);
          }
        }
      }

      &.card--undo {
        opacity: 0.75;
        filter: blur(1px);
        > span {
          color: var(--primary-text);
        }
      }
    }

    .bubble-contact-card-container > .me.bubble-contact-card > .footer {
      border-top: 1px solid var(--B30);
    }

    .message-reaction-container {
      &.me {
        .reacts-list,
        .msg-reaction-icon {
          border-color: var(--self-bubble-chat-action-border);
          background-color: var(--self-bubble-chat-action-bg);
        }
        .msg-reaction-icon .default-react-icon-thumb {
          filter: brightness(2);
        }
      }
    }

    .tipv2-content {
      color: var(--primary-text);
    }
    .tipv2 .tip-close-button {
      color: var(--primary-text);
    }

    // Quick Message
    .qrsc {
      background: var(--WA100);
    }
    .qri {
      background-color: var(--WA100);
    }

    .conv-action__unread .conv-unread {
      color: #fff !important;
    }

    .conv-item {
      -webkit-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;

      .conv-message {
        &.progress-bar {
          .progress-track {
            background-color: var(--NG30) !important;
          }
        }
      }

      &.pinned {
        background-color: initial;
        &.selected {
          background-color: var(--lst-item-select);
        }
        &:hover {
          background-color: var(--lst-item-hover);
        }
      }
    }

    .msg-info-popup {
      .rl-msg {
        .rl-content {
          box-shadow: none;
        }

        .rl-content.msg-from-me {
          background-color: var(--self-bubble-chat);
        }

        .quote-banner {
          margin-bottom: 10px !important;
        }

        .msg-from-me {
          .rl-username {
            color: var(--brand-primary);
          }
          .rl-msg-time {
            color: var(--primary-text-50);
          }
        }
      }
    }

    .multi-select-mode-selected {
      .card {
        border-color: var(--B60);

        &.card--text {
          &.show-sender {
            > .card-sender-name {
              color: var(--primary-text-50);
            }
          }

          .quote-banner,
          .quote-file {
            background-color: var(--B30) !important;
          }
        }
      }

      .card-send-time {
        color: var(--primary-text-50);
      }

      .quote-name-container .quote-name {
        color: var(--primary-text);
      }

      .quote-banner-content .quote-text {
        color: var(--primary-text-50);
      }

      .message-reaction-container {
        .reacts-list,
        .msg-reaction-icon {
          border-color: var(--self-bubble-chat-action-border);
          background-color: var(--self-bubble-chat-action-bg);
        }

        .msg-reaction-icon .default-react-icon-thumb {
          filter: brightness(2);
        }
      }
    }

    .call-msg.--callee {
      background-color: var(--WA100);
    }
    .call-msg__separator {
      border-bottom: 1px solid var(--border);
    }

    .chat-message.me {
      .call-msg {
        border-color: var(--B40);
      }
      .call-msg__separator {
        border-bottom: 1px solid var(--B40);
      }
      .call-msg__content__txt > span {
        color: var(--primary-text-50);
      }
    }

    .pin-input__item {
      background: var(--WA100);
      color: var(--primary-text);
    }

    .pin-input-hidden-chat__contain_text {
      color: var(--NG60) !important;
    }
    .pin-input-hidden-chat__contain_text {
      color: var(--neutral-500) !important;
    }

    .zl-avatar {
      --WA100: #fff;
      --NG50: #000;
      box-shadow: 0 0 0 1px var(--bg-default);
    }

    .zl-avatar__badge {
      --WA100: #232526;
    }

    .chat-date .line {
      border-top: 1px solid var(--NG10);
    }

    // Zavi Meeting
    .zavi {
      &-clock__date,
      &-clock__time {
        color: var(--primary-text);
      }
      &-btn {
        > .fa-icn-createmeeting {
          color: var(--primary-text);
        }
      }
    }

    .btn-play {
      color: var(--primary-text);
    }

    // zavi-sidebar-list-item
    .zavi-sidebar-list-item.chat-message.first-selected,
    .zavi-sidebar-list-item.chat-message.last-selected,
    .zavi-sidebar-list-item.selected
    // contact-list-item
    .contact-list-item.chat-message.first-selected,
    .contact-list-item.chat-message.last-selected,
    .contact-list-item.selected,
    // file-sidebar__option
    .file-sidebar__option.chat-message.first-selected,
    .file-sidebar__option.chat-message.last-selected,
    .file-sidebar__option.selected {
      background-color: var(--lst-item-select);
    }

    .contact-list.web {
      top: 71px;
      height: calc(100% - 71px);
    }

    // BEGIN: Image Show

    .image-show__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      color: var(--primary-text);
      > .fl-l {
        margin: 3px 10px 3px 0px !important;
      }
    }

    .image-show__bottom__sender__info {
      color: var(--primary-text);
    }

    .image-show__bottom__ctrl {
      > .btn,
      > a > .btn {
        color: var(--primary-text);
      }
    }

    .image-show__icon-fullscreen {
      color: var(--primary-text);
    }

    .image-show .image-show__reaction .msg-reaction-icon {
      background: var(--primary-text);
    }

    .image-show__thumb__legend {
      color: var(--primary-text);
    }

    .timeline-slider__handle {
      background: var(--primary-text);
    }

    .image-show__close {
      > .fa-close,
      > .quote-base__close-icon {
        color: var(--primary-text);
      }
    }

    .image-show__thumb-container .btn-play {
      color: var(--primary-text);
    }

    .image-show__caption {
      color: var(--primary-text);
    }

    // END: Image Show

    .friend-profile__addfriend__msg {
      background: transparent;
    }

    .overlay__video {
      &__duration {
        color: var(--primary-text);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-weight: 500;
      }
      i {
        color: var(--primary-text);
      }
    }

    // Example: You can also view this File on mobile
    .toast {
      color: var(--primary-text);
      background-color: var(--NG10);
      border: 1px solid var(--NG30);
      box-shadow: 4px 4px 12px var(--BA50);
      padding: 16px 24px;
    }

    .snack-body {
      background-color: var(--NG10);
      border: 1px solid var(--NG30);
      box-shadow: 4px 4px 12px var(--BA50);
    }

    // App Lock
    .app-lock__main__input {
      display: flex;
      align-items: center;

      input {
        height: 40px;
        padding: 0px 16px;
        border-right: 0;
        color: var(--primary-text);
      }

      a {
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0px 16px;

        border: 1px solid var(--B60);
        background: var(--btn-primary-bg);
        color: var(--primary-text);
      }
    }

    .chat-input__img-preview__thumb__title {
      color: var(--primary-text);
      background-color: var(--BA70);
    }

    #scroll-vertical > div {
      background-color: var(--secondary-text) !important;
      opacity: 0.5;
    }

    .file-icon__ext-text {
      color: #fff;
    }

    .z-toggle > div {
      background: #fff;
    }

    .todo-filter-input {
      background-color: var(--NG30);
      border: 1px solid var(--NG30);
      color: var(--primary-text);

      // Chrome, Firefox, Opera, Safari 10.1+
      &::placeholder {
        color: var(--secondary-text);
        opacity: 1; /* Firefox */
      }

      // Microsoft Edge
      // Internet Explorer 10-11
      &::-ms-input-placeholder {
        color: var(--secondary-text);
      }
    }

    #copyExcel {
      img {
        background: #fff !important;
        max-width: 100% !important;
      }
      > div > div {
        max-width: 100% !important;
        min-height: auto !important;
      }
    }

    .user-profile-button.rg {
      color: #fff;
    }

    #chatOnboard {
      .slideshow__page__image {
        padding: 16px;
        background-color: #fff !important;
        border-radius: 64px 8px 64px 8px;
        filter: invert(0.9);
      }
      .slideshow__page__text__title {
        margin-top: 50px;
      }
      .slideshow__bottom {
        margin-top: 50px;
      }
    }

    .cb-info-file-item__actions-container {
      background: var(--WA100);
      box-shadow: 0 1px 10px var(--WA100);
    }

    .chat-info-link__action {
      background: var(--WA100);
      box-shadow: 0 1px 10px var(--WA100);
    }

    .media-store-preview-item > .image-menu-container {
      background: var(--WA100) !important;
      box-shadow: 0 1px 10px var(--WA100);
      > div {
        background: transparent !important;
      }
    }

    // BEGIN: Zalo Business

    .zl-group-input__search:not(.inherit-input) > .zl-input {
      background: var(--NG20) !important;
    }

    .product-list-view {
      background-color: var(--WA100);
      .catalog-body-list {
        background: var(--WA100);
      }
      .multisel-panel {
        background: var(--NG10) !important;
        border-top: 1px solid var(--border) !important;
      }
    }

    .item-catalog.chat-message.first-selected,
    .item-catalog.chat-message.last-selected,
    .item-catalog.selected {
      background: var(--lst-item-select);
    }

    .catalog-main-view__item_product.action {
      background: var(--lst-item-select);
    }

    // END: Zalo Business

    .zl-modal {
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
    }

    #filter-tags-sb .filter-tag-item.--activated {
      color: #fff;
    }

    .group-error {
      color: #fff;
    }

    .message-view__banner--mutualGroup .message-view__banner__icon-accept,
    .message-view__banner--no-message-mutualGroup .message-view__banner__icon-accept,
    .message-view__banner__request .message-view__banner__icon-accept {
      color: var(--link);
      top: 0;
    }

    .message-view__banner.offline {
      background-color: var(--R60);
      color: #fff;
    }

    .message-view__banner--no-message-mutualGroup {
      border-bottom: 1px solid var(--border);
      background: var(--WA100);
      color: var(--link);

      .txt-add-friend-banner {
        font-weight: var(--medium);
      }
    }

    .message-view__banner--text-accept {
      top: 0;
      margin-bottom: 0 !important;
      color: var(--link);
      font-weight: var(--medium);
    }

    .subtitle {
      color: var(--secondary-text);
    }

    // Typing
    .dot-flashing,
    .dot-flashing-csc {
      --NG60: var(--primary-text);
      --PU20: var(--N30);
    }
  }
}

body.zadark {
  font-family: "Open Sans", sans-serif;

  &.zadark-web,
  &.zadark-win32 {
    .nav__tabs__zalo {
      height: auto;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  &.zadark-web {
    #ztoolbar div[icon="outline-za-screenshot"] {
      display: none;
    }
  }

  .setting-menu {
    width: 232px;
  }

  .z-business-label {
    padding: 0 8px;
    line-height: 18px;
    font-size: 10px;
  }

  .leftbar-mark-unread {
    width: 8px;
    height: 8px;
    top: 10px;
    right: 10px;
  }
}
