:root {
  --zadark-primary-base: #0e70ff;
  --zadark-primary-dark: #035bdc;

  --zadark-border-base: var(--zadark-grey-300);
  --zadark-border-light: var(--zadark-grey-600);
  --zadark-border-radius-base: 8px;

  --zadark-popup-font-family: "Open Sans", sans-serif;
  --zadark-font-regular: 400;
  --zadark-font-semibold: 600;

  --zadark-tippy: #2c2e2f;
  --zadark-tippy-text: #fff;
  --zadark-tippy-border: #3d3f40;
  --zadark-tippy-shadow: rgba(0, 0, 0, 0.5);

  --zadark-intro-tooltip: #2c2e2f;
  --zadark-intro-tooltip-text: #fff;
  --zadark-intro-tooltip-shadow: rgba(0, 0, 0, 0.5);
  --zadark-intro-tooltip-border: #3d3f40;
  --zadark-intro-tooltip-btn: #464849;
  --zadark-intro-tooltip-btn-text: #fff;
  --zadark-intro-tooltip-btn-hover: #424444;
  --zadark-intro-tooltip-btn-focus: #58595a;
  --zadark-intro-skipbutton-text: #7b7c7d;
  --zadark-intro-skipbutton-hover: #9e9f9f;
  --zadark-intro-disabled: #464849;
  --zadark-intro-bullets: #58595a;
  --zadark-intro-bullets-hover: #7b7c7d;
  --zadark-intro-helperlayer-border: #3989ff;
  --zadark-intro-helperlayer-overlay: rgba(0, 0, 0, 0.5);
}

html[data-zadark-theme="light"] {
  --zadark-white-700: hsla(0, 0%, 100%, 0.1);
  --zadark-white-600: hsla(0, 0%, 100%, 0.25);
  --zadark-white-500: hsla(0, 0%, 100%, 0.5);
  --zadark-white-400: hsla(0, 0%, 100%, 0.75);
  --zadark-white-300: #fff;
  --zadark-white-base: #fff;

  --zadark-neutral-700: #e5e7eb;
  --zadark-neutral-600: #abb4bc;
  --zadark-neutral-500: #72808e;
  --zadark-neutral-400: #394e60;
  --zadark-neutral-300: #001a33;
  --zadark-neutral-200: #081020;
  --zadark-neutral-100: #050a19;
  --zadark-neutral-base: #001a33;

  --zadark-grey-700: #fbfbfd;
  --zadark-grey-600: #f4f5f7;
  --zadark-grey-500: #eeeff2;
  --zadark-grey-400: #e8eaef;
  --zadark-grey-300: #e1e4ea;
  --zadark-grey-base: #e1e4ea;

  --zadark-blue-700: #e5efff;
  --zadark-blue-650: #c8deff;
  --zadark-blue-600: #abcdff;
  --zadark-blue-500: #72abff;
  --zadark-blue-400: #3989ff;
  --zadark-blue-300: #0068ff;
  --zadark-blue-base: #0068ff;

  --zadark-switch-slider: #fff;
  --zadark-input-bg: #f4f5f7;

  --zadark-intro-helperlayer-border: #2c2e2f;

  --zadark-btn-floating: #fff;
  --zadark-btn-floating-text: #abb4bc;
  --zadark-btn-floating-shadow: rgba(0, 0, 0, 0.16);

  #zadark-popup .zadark-publisher__lockup--dark {
    display: inline-block;
  }
}

html[data-zadark-theme="dark"] {
  --zadark-white-700: hsla(0, 0%, 27%, 0.1);
  --zadark-white-600: hsla(0, 0%, 27%, 0.25);
  --zadark-white-500: hsla(0, 0%, 27%, 0.5);
  --zadark-white-400: hsla(0, 0%, 27%, 0.75);
  --zadark-white-300: #232526;
  --zadark-white-base: #232526;

  --zadark-neutral-700: #58595a;
  --zadark-neutral-600: #7b7c7d;
  --zadark-neutral-500: #9e9f9f;
  --zadark-neutral-400: #c1c2c2;
  --zadark-neutral-300: #e5e5e5;
  --zadark-neutral-200: #f6f6f6;
  --zadark-neutral-100: #ffffff;
  --zadark-neutral-base: #e5e5e5;

  --zadark-grey-700: #2d3031;
  --zadark-grey-600: #343637;
  --zadark-grey-500: #3a3d3e;
  --zadark-grey-400: #424444;
  --zadark-grey-300: #464849;
  --zadark-grey-base: #464849;

  --zadark-blue-700: #0f2345;
  --zadark-blue-650: #0e2d5b;
  --zadark-blue-600: #0b3a7e;
  --zadark-blue-500: #074bad;
  --zadark-blue-400: #035bdc;
  --zadark-blue-300: #3989ff;
  --zadark-blue-base: #3989ff;

  --zadark-switch-slider: var(--zadark-neutral-300);
  --zadark-input-bg: var(--zadark-grey-700);

  --zadark-btn-floating: var(--zadark-grey-300);
  --zadark-btn-floating-text: var(--zadark-neutral-500);
  --zadark-btn-floating-shadow: rgba(0, 0, 0, 0.25);

  #zadark-popup .zadark-publisher__lockup--light {
    display: inline-block;
  }
}

html[data-zadark-os="Windows"] {
  .zadark-hotkeys::before {
    content: attr(data-keys-win);
    font-size: 14px;
  }
}

html[data-zadark-os="macOS"] {
  .zadark-hotkeys::before {
    content: attr(data-keys-mac);
    font-size: 14px;
  }

  .zadark-safari .zadark-hotkeys::before {
    content: attr(data-keys-safari);
  }
}

body:not(.zadark--use-hotkeys) {
  .zadark-hotkeys {
    display: none;
  }
}

.zadark-hotkeys {
  font-family: var(--zadark-popup-font-family);
  font-weight: 400;
  color: var(--zadark-neutral-500);
}

#zadark-popup {
  font-family: var(--zadark-popup-font-family);
  font-size: 14px;

  background: var(--zadark-white-300);
  color: var(--zadark-neutral-base);

  * {
    box-sizing: border-box;
  }

  a {
    color: var(--zadark-primary-base);
    text-decoration: none;
  }

  a:hover {
    color: var(--zadark-primary-dark);
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  code {
    padding: 2px 4px;
    border-radius: 4px;
    background: var(--zadark-grey-500);
  }

  strong {
    font-weight: var(--zadark-font-semibold);
  }
}

#zadark-popup {
  .zadark-popup__scrollable {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    max-height: calc(100vh - 16px);

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
      width: 0 !important;
    }
  }

  .zadark-popup__header {
    position: sticky;
    top: 0;
    z-index: 9999;

    padding: 12px 16px;
    border-bottom: 1px solid var(--zadark-border-base);
    background-color: var(--zadark-grey-700);

    display: flex;
    align-items: center;

    &__logo {
      flex: 1;
      margin-right: 8px;
    }

    &__logo-link {
      position: relative;
      top: 2px;

      display: inline-flex;
      align-items: center;
    }

    &__logo-img {
      width: auto;
      height: 18px;
    }

    &__pro {
      display: flex;
      align-items: center;
      height: 18px;

      margin-left: 6px;
      padding: 0 6px;

      border: 1px solid var(--zadark-blue-base);
      border-radius: 9px;

      font-size: 12px;
      font-weight: var(--zadark-font-semibold);
      line-height: 12px;
      color: var(--zadark-blue-base);

      &::after {
        content: "Pro";
      }
    }

    &__menu-list {
      display: flex;
      align-items: center;
      color: var(--zadark-neutral-500);
    }

    &__menu-item {
      a {
        color: var(--zadark-neutral-base);
        &:hover {
          color: var(--zadark-neutral-400);
        }
      }
    }

    &__menu-divider {
      &::after {
        content: "";
        display: inline-block;
        width: 12px;
      }
    }

    &__menu-coffee {
      a {
        position: relative;
        top: -3.2px;
        display: flex;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .zadark-popup__main {
    padding: 12px 16px 0 16px;
  }

  .zadark-popup__footer {
    display: flex;
    justify-content: center;
    padding: 0 16px 12px;
  }

  .zadark-publisher {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
    user-select: none;

    &__from {
      color: var(--zadark-neutral-500);
    }

    &__lockup {
      width: auto;
      height: 12px;
      display: none;
      margin-left: 8px;
    }
  }

  .zadark-beta {
    color: var(--zadark-blue-base);
    border: 1px solid var(--zadark-blue-base);
    border-radius: 16px;
    font-size: 10px;
    padding: 0 6px;

    &::after {
      content: "BETA";
    }
  }

  .zadark-form__label {
    display: block;
    margin-bottom: 8px;
    font-weight: var(--zadark-font-semibold);
  }

  .zadark-radio {
    &__list {
      margin-top: -8px;
      margin-bottom: -8px;
    }

    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked {
        ~ .zadark-radio__checkmark {
          border-color: var(--zadark-primary-base);

          &:after {
            opacity: 1;
          }
        }
      }
    }

    &__checkmark {
      position: relative;
      height: 16px;
      width: 16px;
      margin-right: 12px;

      border: 2px solid var(--zadark-border-base);
      border-radius: 50rem;

      &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;

        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: var(--zadark-primary-base);

        opacity: 0;
      }
    }

    &__label {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 8px 0;
      border-bottom: 1px solid var(--zadark-border-light);

      span:nth-child(1) {
        flex: 1;
      }

      // Description
      span:nth-child(2) {
        font-size: 12px;
        color: var(--zadark-neutral-500);
      }
    }

    &:last-child {
      .zadark-radio__label {
        border-bottom: 0;
      }
    }
  }

  .zadark-switch {
    display: flex;
    align-items: center;

    padding: 8px 0;
    border-bottom: 1px solid var(--zadark-border-light);

    &--border-default {
      border-color: var(--zadark-border-base);
    }

    &__list {
      margin-top: -8px;
      margin-bottom: -8px;
    }

    &__label {
      flex: 1;
      cursor: pointer;
      user-select: none;

      .zadark-icon {
        position: relative;
        bottom: -1px;
        margin-left: 2px;
        color: var(--zadark-neutral-600);
        font-size: 0.875rem;
      }
    }

    &__checkbox {
      position: relative;
      display: inline-block;
      width: 28px;
      height: 16px;
    }

    &__input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--zadark-grey-base);
      transition: all 0.25s ease-in-out;

      border-radius: 50rem;

      &:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 2px;
        bottom: 2px;
        background-color: var(--zadark-switch-slider);
        -webkit-transition: 0.25s;
        transition: 0.25s;
        border-radius: 50rem;
      }
    }

    &__input:checked + .zadark-switch__slider {
      background-color: var(--zadark-primary-base);
    }

    &__input:checked + .zadark-switch__slider:before {
      -webkit-transform: translateX(12px);
      -ms-transform: translateX(12px);
      transform: translateX(12px);
    }

    &:last-child {
      border-bottom: 0;
    }

    &--disabled {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;
        cursor: not-allowed;
      }

      .zadark-switch__label,
      .zadark-switch__checkbox,
      .zadark-switch__hotkeys {
        opacity: 0.25;
      }
    }

    &__hotkeys {
      margin-right: 12px;
    }
  }

  .zadark-select {
    display: block;
    max-width: 100%;

    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iIzU4NjA2OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNC40MjcgOS40MjdsMy4zOTYgMy4zOTZhLjI1MS4yNTEgMCAwMC4zNTQgMGwzLjM5Ni0zLjM5NkEuMjUuMjUgMCAwMDExLjM5NiA5SDQuNjA0YS4yNS4yNSAwIDAwLS4xNzcuNDI3ek00LjQyMyA2LjQ3TDcuODIgMy4wNzJhLjI1LjI1IDAgMDEuMzU0IDBMMTEuNTcgNi40N2EuMjUuMjUgMCAwMS0uMTc3LjQyN0g0LjZhLjI1LjI1IDAgMDEtLjE3Ny0uNDI3eiIgLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px;

    border: 0;
    border-radius: var(--zadark-border-radius-base);

    font-family: var(--zadark-popup-font-family);
    font-size: 14px;
    line-height: 20px;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    min-width: 168px;
    height: 32px;
    padding: 0 28px 0 12px;

    color: var(--zadark-neutral-base);
    background-color: var(--zadark-input-bg);
    background-position: right 6px center;

    option {
      background-color: var(--zadark-white-300);
    }
  }

  .zadark-input {
    min-width: 168px;
    height: 32px;
    padding: 0 12px;

    border: 1px solid var(--zadark-grey-700);
    border-radius: var(--zadark-border-radius-base);
    background-color: var(--zadark-input-bg);
    color: var(--zadark-neutral-base);

    font-family: var(--zadark-popup-font-family);
    font-size: 14px;

    &:focus {
      outline: none;
      border-color: var(--zadark-blue-400);
    }
  }

  .zadark-panel {
    position: relative;
    overflow: hidden;
    border: 1px solid var(--zadark-border-base);
    border-radius: var(--zadark-border-radius-base);
    margin-bottom: 12px;

    &__body {
      padding: 8px 12px;
    }
  }

  .font-settings {
    display: flex;
    align-items: center;
    margin-top: 8px;
    padding-top: 8px;

    border-top: 1px solid var(--zadark-border-light);

    &--border-default {
      border-color: var(--zadark-border-base);
    }

    .font-settings__label {
      flex: 1;
      font-weight: var(--zadark-font-regular);

      a {
        color: var(--zadark-neutral-base);
        font-weight: var(--zadark-font-semibold);

        &:hover {
          color: var(--zadark-neutral-400);
        }
      }
    }

    &--hotkeys {
      .font-settings__label {
        flex: none;
      }
    }

    .font-settings__hotkeys {
      flex: 1;
      margin-left: 6px;
    }

    .zadark-input,
    .zadark-select {
      width: 168px;
    }

    .zadark-beta {
      position: relative;
      bottom: 1px;
      margin-left: 6px;
    }
  }

  i[data-zdk-intro] {
    transition: color 100ms ease-in-out;
    cursor: pointer;

    &:hover {
      color: var(--zadark-primary-base);
    }
  }

  #js-btn-scroll {
    position: fixed;
    bottom: 12px;
    left: 50%;

    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--zadark-border-base);
    border-radius: 16px;
    color: var(--zadark-btn-floating-text);
    background-color: var(--zadark-btn-floating);

    box-shadow: 0 2px 8px 0 var(--zadark-btn-floating-shadow);
    transform: translateX(-50%);
    cursor: pointer;
  }
}

.tippy-box[data-theme~="zadark"] {
  border: 1px solid var(--zadark-tippy-border);
  border-radius: 8px;

  background-color: var(--zadark-tippy);
  color: var(--zadark-tippy-text);

  filter: drop-shadow(var(--zadark-tippy-shadow) 0 3px 6px);

  &[data-placement^="top"] > .tippy-arrow::before {
    border-top-color: var(--zadark-tippy);
  }

  &[data-placement^="bottom"] > .tippy-arrow::before {
    border-bottom-color: var(--zadark-tippy);
  }

  &[data-placement^="left"] > .tippy-arrow::before {
    border-left-color: var(--zadark-tippy);
  }

  &[data-placement^="right"] > .tippy-arrow::before {
    border-right-color: var(--zadark-tippy);
  }

  .tippy-content {
    padding: 12px 16px !important;
    font-family: var(--zadark-popup-font-family);
    font-size: 0.8125rem;
    line-height: 1.5;

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 8px !important;
      }
    }
  }
}

/*!
 * Toastify js 1.12.0
 * https://github.com/apvarun/toastify-js
 * @license MIT licensed
 *
 * Copyright (C) 2018 Varun A P
 */

.toastify {
  position: fixed;
  z-index: 2147483647;

  display: inline-block;
  width: fit-content;
  width: -moz-fit-content;
  max-width: calc(50% - 20px);
  padding: 12px 16px;
  border: 1px solid var(--zadark-tippy-border);
  border-radius: 8px;

  background-color: var(--zadark-tippy);
  color: var(--zadark-tippy-text);
  filter: drop-shadow(var(--zadark-tippy-shadow) 0 3px 6px);
  opacity: 0;

  font-family: var(--zadark-popup-font-family);

  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

  &--error {
    border-color: #e74c3c;
  }
}

.toastify.on {
  opacity: 1;
}

.toastify-right {
  right: 15px;
}

.toastify-left {
  left: 15px;
}

.toastify-top {
  top: -150px;
}

.toastify-bottom {
  bottom: -150px;
}

.toastify-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: fit-content;
  width: -moz-fit-content;
  max-width: 100%;
}

/*!
 * Intro.js v7.0.1
 * https://introjs.com
 *
 * Copyright (C) 2012-2023 Afshin Mehrabani (@afshinmeh).
 * https://introjs.com
 *
 * Date: Sat, 25 Mar 2023 14:24:34 GMT
 */

.introjs-overlay {
  position: absolute;
  box-sizing: content-box;
  z-index: 999999;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.introjs-showElement {
  z-index: 9999999 !important;
}
tr.introjs-showElement > td {
  z-index: 9999999 !important;
  position: relative;
}
tr.introjs-showElement > th {
  z-index: 9999999 !important;
  position: relative;
}
.introjs-disableInteraction {
  z-index: 99999999 !important;
  position: absolute;
  background-color: #fff;
  opacity: 0;
}
.introjs-relativePosition {
  position: relative;
}
.introjs-helperLayer {
  box-sizing: content-box;
  position: absolute;
  z-index: 9999998;
  border-radius: var(--zadark-border-radius-base);
  transition: all 0.3s ease-out;
  box-shadow:
    var(--zadark-intro-helperlayer-border) 0px 0px 0px 2px,
    var(--zadark-intro-helperlayer-overlay) 0px 0px 0px 5000px !important;
}
.introjs-helperLayer * {
  box-sizing: content-box;
}
.introjs-helperLayer :before {
  box-sizing: content-box;
}
.introjs-helperLayer :after {
  box-sizing: content-box;
}
.introjs-tooltipReferenceLayer {
  font-family: var(--zadark-popup-font-family);
  box-sizing: content-box;
  position: absolute;
  visibility: hidden;
  z-index: 100000000;
  background-color: transparent;
  transition: all 0.3s ease-out;
}
.introjs-tooltipReferenceLayer * {
  font-family: var(--zadark-popup-font-family);
}
// .introjs-helperNumberLayer {
//   font-family: var(--zadark-popup-font-family);
//   color: #9e9e9e;
//   text-align: center;
//   padding-top: 8px;
//   padding-bottom: 8px;
// }
.introjs-arrow {
  border: 8px solid transparent;
  content: "";
  position: absolute;
}
.introjs-arrow.top {
  top: -16px;
  left: 16px;
  border-bottom-color: var(--zadark-intro-tooltip);
}
.introjs-arrow.top-right {
  top: -16px;
  right: 16px;
  border-bottom-color: var(--zadark-intro-tooltip);
}
.introjs-arrow.top-middle {
  top: -16px;
  left: 50%;
  margin-left: -8px;
  border-bottom-color: var(--zadark-intro-tooltip);
}
.introjs-arrow.right {
  right: -16px;
  top: 16px;
  border-left-color: var(--zadark-intro-tooltip);
}
.introjs-arrow.right-bottom {
  bottom: 16px;
  right: -16px;
  border-left-color: var(--zadark-intro-tooltip);
}
.introjs-arrow.bottom {
  bottom: -16px;
  left: 16px;
  border-top-color: var(--zadark-intro-tooltip);
}
.introjs-arrow.bottom-right {
  bottom: -16px;
  right: 16px;
  border-top-color: var(--zadark-intro-tooltip);
}
.introjs-arrow.bottom-middle {
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border-top-color: var(--zadark-intro-tooltip);
}
.introjs-arrow.left {
  left: -16px;
  top: 16px;
  border-right-color: var(--zadark-intro-tooltip);
}
.introjs-arrow.left-bottom {
  left: -16px;
  bottom: 16px;
  border-right-color: var(--zadark-intro-tooltip);
}
.introjs-tooltip {
  box-sizing: content-box;
  position: absolute;
  visibility: visible;
  color: var(--zadark-intro-tooltip-text);
  background-color: var(--zadark-intro-tooltip);
  min-width: 248px;
  max-width: 300px;
  border: 1px solid var(--zadark-intro-tooltip-border);
  border-radius: var(--zadark-border-radius-base);
  filter: drop-shadow(var(--zadark-intro-tooltip-shadow) 0 3px 6px);
  transition: opacity 0.1s ease-out;
}
.introjs-tooltiptext {
  padding: 16px;
}
// .introjs-dontShowAgain {
//   padding-left: 16px;
//   padding-right: 16px;
// }
// .introjs-dontShowAgain input {
//   padding: 0;
//   margin: 0;
//   margin-bottom: 2px;
//   display: inline;
//   width: 10px;
//   height: 10px;
// }
// .introjs-dontShowAgain label {
//   font-size: 14px;
//   display: inline-block;
//   font-weight: 400;
//   margin: 0 0 0 4px;
//   padding: 0;
//   -webkit-user-select: none;
//   user-select: none;
// }
// .introjs-tooltip-title {
//   font-size: 18px;
//   width: 90%;
//   min-height: 1.5em;
//   margin: 0;
//   padding: 0;
//   font-weight: 700;
//   line-height: 1.5;
// }
.introjs-tooltip-header {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  min-height: 1.5em;
}
.introjs-tooltipbuttons {
  border-top: 1px solid var(--zadark-intro-tooltip-border);
  padding: 8px;
  text-align: right;
  white-space: nowrap;
}
.introjs-tooltipbuttons:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.introjs-button {
  box-sizing: content-box;
  position: relative;
  overflow: visible;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 14px;
  color: var(--zadark-intro-tooltip-btn-text);
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  background-color: var(--zadark-intro-tooltip-btn);
  border-radius: var(--zadark-border-radius-base);
  display: inline;
  user-select: none;
}
.introjs-button:hover {
  background-color: var(--zadark-intro-tooltip-btn-hover);
  color: inherit;
}
.introjs-button:focus {
  box-shadow: 0 0 0 2px var(--zadark-intro-tooltip-btn-focus);
  color: inherit;
}
.introjs-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.introjs-skipbutton {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  color: var(--zadark-intro-skipbutton-text);
  font-size: 22px;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}
.introjs-skipbutton:focus,
.introjs-skipbutton:hover {
  color: var(--zadark-intro-skipbutton-hover);
  outline: 0;
  text-decoration: none;
}
.introjs-prevbutton {
  float: left;
}
.introjs-nextbutton {
  float: right;
}
.introjs-disabled {
  opacity: 0.25;
}
.introjs-disabled,
.introjs-disabled:focus,
.introjs-disabled:hover {
  background-color: var(--zadark-intro-disabled);
  color: inherit;
  box-shadow: none;
  cursor: default;
}
.introjs-hidden {
  display: none;
}
.introjs-bullets {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.introjs-bullets ul {
  box-sizing: content-box;
  clear: both;
  margin: 0 auto 0;
  padding: 0;
  display: inline-block;
}
.introjs-bullets ul li {
  box-sizing: content-box;
  list-style: none;
  float: left;
  margin: 0 2px;
}
.introjs-bullets ul li a {
  transition: width 0.1s ease-in;
  box-sizing: content-box;
  display: block;
  width: 6px;
  height: 6px;
  background: var(--zadark-intro-bullets);
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
.introjs-bullets ul li a:focus,
.introjs-bullets ul li a:hover {
  width: 16px;
  background: var(--zadark-intro-bullets-hover);
  text-decoration: none;
  outline: 0;
}
.introjs-bullets ul li a.active {
  width: 16px;
  background: var(--zadark-intro-bullets-hover);
}
// .introjs-progress {
//   box-sizing: content-box;
//   overflow: hidden;
//   height: 10px;
//   margin: 10px;
//   border-radius: 4px;
//   background-color: #e0e0e0;
// }
// .introjs-progressbar {
//   box-sizing: content-box;
//   float: left;
//   width: 0%;
//   height: 100%;
//   font-size: 10px;
//   line-height: 10px;
//   text-align: center;
//   background-color: #08c;
// }
.introjsFloatingElement {
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  top: 50%;
}
.introjs-fixedTooltip {
  position: fixed;
}
// .introjs-hint {
//   box-sizing: content-box;
//   position: absolute;
//   background: 0 0;
//   width: 20px;
//   height: 15px;
//   cursor: pointer;
// }
// .introjs-hint:focus {
//   border: 0;
//   outline: 0;
// }
// .introjs-hint:hover > .introjs-hint-pulse {
//   background-color: rgba(60, 60, 60, 0.57);
// }
// .introjs-hidehint {
//   display: none;
// }
// .introjs-fixedhint {
//   position: fixed;
// }
// @keyframes introjspulse {
//   0% {
//     transform: scale(0.95);
//     box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
//   }
//   70% {
//     transform: scale(1);
//     box-shadow: 0 0 0 10px transparent;
//   }
//   100% {
//     transform: scale(0.95);
//     box-shadow: 0 0 0 0 transparent;
//   }
// }
// .introjs-hint-pulse {
//   box-sizing: content-box;
//   width: 15px;
//   height: 15px;
//   border-radius: 30px;
//   background-color: rgba(136, 136, 136, 0.24);
//   z-index: 10;
//   position: absolute;
//   transition: all 0.2s ease-out;
//   animation: introjspulse 2s infinite;
// }
// .introjs-hint-no-anim .introjs-hint-pulse {
//   animation: none;
// }
// .introjs-hint-dot {
//   box-sizing: content-box;
//   background: 0 0;
//   border-radius: 60px;
//   height: 50px;
//   width: 50px;
//   position: absolute;
//   top: -18px;
//   left: -18px;
//   z-index: 1;
//   opacity: 0;
// }
