/*
  ZaDark – Best Dark Theme for Zalo
  Made by NCDAi Studio
*/

@mixin darkDefault {
  // White for dark default
  --white-700: hsla(0, 0%, 20%, 0.1);
  --white-600: hsla(0, 0%, 20%, 0.25);
  --white-500: hsla(0, 0%, 20%, 0.5);
  --white-400: hsla(0, 0%, 20%, 0.75);
  --white-300: #18191a;
  --white-base: #18191a;

  // original-neutral
  // --neutral-700: rgba(255, 255, 255, 0.24);
  // --neutral-600: rgba(255, 255, 255, 0.4);
  // --neutral-500: rgba(255, 255, 255, 0.56);
  // --neutral-400: rgba(255, 255, 255, 0.72);
  // --neutral-300: rgba(255, 255, 255, 0.88);
  // --neutral-200: rgba(255, 255, 255, 0.96);
  // --neutral-100: rgba(255, 255, 255, 1);
  // --neutral-base: rgba(255, 255, 255, 0.88);

  // Neutral for dark default
  // = original-neutral + white-base
  --neutral-700: #4f5051;
  --neutral-600: #747576;
  --neutral-500: #999a9a;
  --neutral-400: #bebfbf;
  --neutral-300: #e3e3e3;
  --neutral-200: #f6f6f6;
  --neutral-100: #ffffff;
  --neutral-base: #e3e3e3;

  // original-grey
  // --grey-700: rgba(255, 255, 255, 0.05);
  // --grey-600: rgba(255, 255, 255, 0.08);
  // --grey-500: rgba(255, 255, 255, 0.11);
  // --grey-400: rgba(255, 255, 255, 0.14);
  // --grey-300: rgba(255, 255, 255, 0.16);
  // --grey-base: rgba(255, 255, 255, 0.16);

  // Grey for dark default
  // = original-grey + white-base
  --grey-700: #232525;
  --grey-600: #2a2b2c;
  --grey-500: #313233;
  --grey-400: #38393a;
  --grey-300: #3d3e3f;
  --grey-base: #3d3e3f;

  --dark-grey-700: var(--grey-700);
  --dark-grey-600: var(--grey-600);
  --dark-grey-500: var(--grey-500);
  --dark-grey-400: var(--grey-400);
  --dark-grey-300: var(--grey-300);
  --dark-grey-base: var(--grey-base);

  --black-700: rgba(0, 0, 0, 0.1);
  --black-600: rgba(0, 0, 0, 0.25);
  --black-500: rgba(0, 0, 0, 0.5);
  --black-400: rgba(0, 0, 0, 0.75);
  --black-300: #fff;
  --black-base: #fff;

  --blue-700: #0f2345;
  --blue-650: #0e2d5b;
  --blue-600: #0b3a7e;
  --blue-500: #074bad;
  --blue-400: #035bdc;
  --blue-300: #3989ff;
  --blue-base: #3989ff;

  --dark-blue-200: #004bb9;
  --dark-blue-base: #004bb9;

  --red-700: #431418;
  --red-600: #58181c;
  --red-500: #791a1f;
  --red-400: #a61d24;
  --red-300: #d32029;
  --red-base: #d32029;

  --orange-700: #432716;
  --orange-600: #58351c;
  --orange-500: #794620;
  --orange-400: #a65c26;
  --orange-300: #d3722b;
  --orange-base: #d3722b;

  --green-700: #1d3712;
  --green-600: #274916;
  --green-500: #306317;
  --green-400: #3c8618;
  --green-300: #49aa19;
  --green-base: #49aa19;

  --yellow-700: #443b11;
  --yellow-600: #595014;
  --yellow-500: #7c6e14;
  --yellow-400: #aa9514;
  --yellow-300: #d8bd14;
  --yellow-200: #e8d639;
  --yellow-100: #e8d639;
  --yellow-base: #d8bd14;

  --purple-700: #24163a;
  --purple-600: #301c4d;
  --purple-500: #3e2069;
  --purple-400: #51258f;
  --purple-300: #642ab5;
  --purple-base: #642ab5;

  --pink-700: #40162f;
  --pink-600: #551c3b;
  --pink-500: #75204f;
  --pink-400: #a02669;
  --pink-300: #cb2b83;
  --pink-base: #cb2b83;

  --teal-700: #113536;
  --teal-600: #144848;
  --teal-500: #146262;
  --teal-400: #138585;
  --teal-300: #13a8a8;
  --teal-base: #13a8a8;

  --gradient-blue: linear-gradient(45deg, #408dfd, #0068ff);
  --gradient-sky-blue: linear-gradient(225deg, #00bac0, #72abff);
  --gradient-pink: linear-gradient(225deg, #ea87ff, #f2bdff);
  --gradient-orange: linear-gradient(225deg, #db342e 100%, #f5832f 0);
  --gradient-green: linear-gradient(225deg, #ffda39, #49bb82);
  --gradient-red-pink: linear-gradient(199deg, #eb8e8b, #f2bdff);
  --gradient-light-pink: linear-gradient(199deg, #ea87ff, #f2bdff);
  --gradient-purple-pink: linear-gradient(199deg, #b3a8e9, #f2bdff);
  --gradient-light-purple: linear-gradient(199deg, #7562d8, #b3a8e9);
  --gradient-purple-blue: linear-gradient(199deg, #7562d8, #0068ff);
  --gradient-light-blue: linear-gradient(199deg, #72abff, #0068ff);
  --gradient-teal-blue: linear-gradient(199deg, #00bac0, #0068ff);
  --gradient-teal-green: linear-gradient(199deg, #00bac0, #15a85f);
  --gradient-light-green: linear-gradient(199deg, #15a85f, #49bb82);
  --gradient-yellow-green: linear-gradient(199deg, #ffda39, #49bb82);
  --gradient-orange-yellow: linear-gradient(199deg, #f5832f, #ffd000);
  --gradient-red-orange: linear-gradient(199deg, #db342e, #f5832f);

  --shades-left-bar: var(--grey-700);
  --shades-left-bar-active: var(--grey-500);

  --shades-photo-bg: #545454;
  --box-input: rgba(0, 133, 255, 0.25);
  --box-input2: rgba(24, 144, 255, 0.2);
  --box-grey: rgba(0, 0, 0, 0.02);
  --box-notif: rgba(0, 26, 51, 0.1);
  --box-popover: rgba(0, 0, 0, 0.18);
  --transparent-blue08: rgba(0, 104, 255, 0.8);

  --border: var(--grey-300);
  --card-me-btn-bg: var(--blue-650);
  --card-me-btn-border: var(--blue-600);
  --message-view-gradient: linear-gradient(to top, #000, #121212);
}

@mixin darkDimmed() {
  // White for dark dimmed
  --white-700: hsla(0, 0%, 27%, 0.1);
  --white-600: hsla(0, 0%, 27%, 0.25);
  --white-500: hsla(0, 0%, 27%, 0.5);
  --white-400: hsla(0, 0%, 27%, 0.75);
  --white-300: #232526;
  --white-base: #232526;

  // original-neutral
  // --neutral-700: rgba(255, 255, 255, 0.24);
  // --neutral-600: rgba(255, 255, 255, 0.4);
  // --neutral-500: rgba(255, 255, 255, 0.56);
  // --neutral-400: rgba(255, 255, 255, 0.72);
  // --neutral-300: rgba(255, 255, 255, 0.88);
  // --neutral-200: rgba(255, 255, 255, 0.96);
  // --neutral-100: rgba(255, 255, 255, 1);
  // --neutral-base: rgba(255, 255, 255, 0.88);

  // Neutral for dark dimmed
  // = original-neutral + white-base
  --neutral-700: #58595a;
  --neutral-600: #7b7c7d;
  --neutral-500: #9e9f9f;
  --neutral-400: #c1c2c2;
  --neutral-300: #e5e5e5;
  --neutral-200: #f6f6f6;
  --neutral-100: #ffffff;
  --neutral-base: #e5e5e5;

  // original-grey
  // --grey-700: rgba(255, 255, 255, 0.05);
  // --grey-600: rgba(255, 255, 255, 0.08);
  // --grey-500: rgba(255, 255, 255, 0.11);
  // --grey-400: rgba(255, 255, 255, 0.14);
  // --grey-300: rgba(255, 255, 255, 0.16);
  // --grey-base: rgba(255, 255, 255, 0.16);

  // Grey for dark dimmed
  // = original-grey + white-base
  --grey-700: #2d3031;
  --grey-600: #343637;
  --grey-500: #3a3d3e;
  --grey-400: #424444;
  --grey-300: #464849;
  --grey-base: #464849;

  --message-view-gradient: linear-gradient(to top, #141414, #18191a);
}

html[data-theme-mode="dark"]:root {
  @include darkDefault();
}

html[data-theme-mode="dark"][data-dark-theme="dark_dimmed"]:root {
  @include darkDimmed();
}

html[data-theme-mode="dark"] {
  div::-webkit-scrollbar-thumb {
    background: var(--grey-300);
  }

  body.za-dark {
    background: var(--white-300);

    #main-tab {
      border-right: 1px solid var(--border);
    }

    .chat-info-link__title {
      color: var(--neutral-base);
    }

    .chat-info-general__item:after {
      border-color: var(--border);
    }

    .chat-info-general__item--title--sub {
      color: var(--neutral-500);
    }

    .setting-menu,
    .setting-section {
      border-color: var(--border);
    }

    .app-info {
      &__header {
        align-items: center;
        color: #fff;
        background-color: #0068ff;
      }

      &__section {
        padding: 16px;
      }
    }

    .message-view__blur__overlay {
      &,
      &_noavatar {
        background: var(--message-view-gradient);
      }
    }

    .media-tabs__main {
      border-bottom-color: var(--border);

      &.active {
        background-color: var(--white-300);
        border-color: transparent var(--border);
      }
    }

    .emoji-tabs {
      background-color: var(--white-300);
    }

    .z--btn--fill--primary {
      color: var(--black-300);
      background: var(--gradient-blue);
    }

    .z--btn--fill--secondary-red {
      &.--disabled {
        color: var(--red-300);
        opacity: 0.5;
      }
    }

    .z--btn--fill--danger {
      color: var(--black-300);
    }

    .reaction-emoji-list {
      color: var(--white-400);
      border: 0.5px solid var(--grey-400);
    }

    .leftbar-tab {
      color: var(--neutral-base);

      &:hover {
        background-color: var(--shades-left-bar-active);
      }

      // &.selected {
      //   color: var(--blue-base);
      // }
    }

    .leftbar-unread {
      color: #fff !important;
    }

    .user-status-footer {
      .footer-text {
        color: #fff;
      }
    }

    .file-sidebar__option {
      &.chat-message.first-selected,
      &.chat-message.last-selected,
      &.selected {
        background-color: var(--grey-600);
        color: #fff;

        &:hover {
          background-color: var(--grey-600);
        }
      }

      &.chat-message.first-selected > .file-sidebar__option__title,
      &.chat-message.last-selected > .file-sidebar__option__title,
      &.selected > .file-sidebar__option__title {
        color: #fff;
      }

      &.chat-message.first-selected .file-sidebar__option__icon,
      &.chat-message.last-selected .file-sidebar__option__icon,
      &.selected .file-sidebar__option__icon {
        color: var(--neutral-300);
      }
    }

    .file-sidebar__option__icon {
      &.fa-file-icon-drive {
        color: #fff !important;
      }
      &.fa-file-icon-dropbox {
        color: #fff !important;
      }
    }

    .chat-onboard,
    .friend-center-main.subtract-title {
      height: 100vh;
    }

    .chips--choice {
      &.--active {
        color: #fff;
      }
    }

    .chat-date {
      color: var(--neutral-300);

      > span {
        background: var(--white-500);
      }
    }

    #contact-search-input {
      color: var(--neutral-base);
    }

    .phone-i-input {
      color: var(--neutral-base);
      background-color: var(--white-300);
    }

    .input {
      color: var(--neutral-base);
      background-color: var(--white-300);
    }

    .chat-input__content.highlight {
      border-color: var(--neutral-500);
    }

    #ztoolbar div[icon="outline-za-screenshot"] {
      display: none;
    }

    .chat-message {
      .extra-btn {
        padding: 6px 16px;
        background-color: var(--white-300);
        color: var(--neutral-300);
        transition: all 250ms ease-in-out;

        &:hover {
          color: #fff;
        }
      }
    }

    .chat-group-topic__item {
      min-height: 56px;

      .icon-container {
        height: 56px;
      }
    }

    .chat-group-topic-outer {
      min-height: 58px;
    }

    .group-board-page {
      .virtualized-scroll {
        background: var(--white-base);
      }
    }

    .cb-info-file-item__actions-container {
      > div {
        background: transparent !important;
      }
    }

    #info-links-container {
      .library-media {
        > div {
          background: transparent !important;
        }
      }
    }

    #group-creator .create-group__item__link-icon {
      color: #fff;
    }

    div[data-id="div_TabCT_FrdReqList"],
    div[data-id="div_TabCT_JoinedGrpList"] {
      background: #000 !important;
    }

    .chat-message.highlighted .card:not(.card--group-photo) {
      background-color: var(--blue-700);

      &:hover {
        background-color: var(--blue-650);
      }
    }

    .sticker-selector__menu {
      height: 48px;
    }

    #stickerSelector {
      background-color: var(--white-300) !important;
    }

    .media-dock-tabs {
      &:not(.docked) {
        height: 48px;
        border-bottom: 0;
      }
    }

    .gradient-border.left,
    .gradient-border.right .message-view__guide__item__sign {
      .fa-sendtome-image {
        color: #fff;
      }
    }

    .card-send-time {
      color: var(--neutral-500);

      &.me {
        color: var(--neutral-300);
        opacity: 0.5;
      }
    }

    .chat-message {
      line-height: 1.5;
    }

    .card {
      border: 1px solid var(--grey-600);

      &.card--oa,
      &.card--picture,
      &.card--video,
      &.card--sticker,
      &.card--group-photo {
        &,
        &.admin {
          border: 0;
        }
      }

      &.admin {
        border: 1px solid var(--neutral-700);
      }

      &.me {
        border-color: transparent;

        .quote-name-container {
          color: var(--blue-300);
        }

        .quote-banner-content .quote-text {
          color: var(--neutral-300);
          opacity: 0.5;
        }

        .file-message__container {
          .file-message__actions-icon {
            border-color: var(--card-me-btn-border);
            background-color: var(--card-me-btn-bg);
          }

          .file-progress-no {
            color: var(--neutral-300);
            opacity: 0.5;
          }

          .file-progress__track {
            background-color: var(--blue-650);
          }
        }

        &.card--link {
          .card-content > .card--link__sub {
            color: var(--neutral-300);
            opacity: 0.5;
          }
        }

        &.card--business {
          .card-content {
            div {
              color: #fff !important;
            }
          }

          .msg-contact-footer {
            border-top: 1px solid var(--blue-600);
          }
        }

        .msg-urgency-indicator {
          padding: 4px 8px;
          border-radius: 4px;
          border: 1px solid var(--red-300);
          color: var(--red-300);
        }
      }

      &.card--undo {
        opacity: 0.75;
        filter: blur(1px);

        > span {
          color: var(--neutral-300);
        }
      }
    }

    .message-reaction-container {
      &.me {
        .reacts-list,
        .msg-reaction-icon {
          border-color: var(--card-me-btn-border);
          background-color: var(--card-me-btn-bg);
        }

        .msg-reaction-icon {
          .default-react-icon-thumb {
            filter: brightness(2);
          }
        }
      }
    }

    .tipv2-content {
      color: var(--neutral-300);
    }

    // Photo Quality HD
    .qu-ba {
      background: var(--white-base);
    }

    // Quick Message
    .qrsc {
      background: var(--white-300);
    }
    .qri {
      background-color: var(--white-300);
    }

    .conv-action__unread .conv-unread {
      color: #fff !important;
    }

    .conv-item {
      &.chat-message.first-selected,
      &.chat-message.last-selected,
      &.selected {
        background-color: var(--grey-700);
      }

      &:hover {
        background-color: var(--grey-700);
      }
    }

    .message-view__guide__item__sign {
      color: var(--neutral-300);
    }

    .msg-info-popup {
      .quote-banner-content {
        .quote-text {
          color: var(--neutral-300);
          opacity: 0.5;
        }
      }

      .rl-msg {
        .quote-banner {
          margin-bottom: 10px !important;
        }

        .msg-from-me {
          .rl-username {
            color: var(--blue-base);
          }
          .rl-msg-time {
            color: var(--neutral-300);
            opacity: 0.5;
          }
        }
      }
    }

    .multi-select-mode-selected {
      .card {
        border-color: var(--blue-base);

        &.card--text {
          &.show-sender {
            > .card-sender-name {
              color: var(--neutral-300);
              opacity: 0.5;
            }
          }
        }
      }

      .card-send-time {
        color: var(--neutral-300);
        opacity: 0.5;
      }

      .quote-name-container {
        .quote-name {
          color: var(--neutral-300);
        }
      }

      .quote-banner-content {
        .quote-text {
          color: var(--neutral-300);
          opacity: 0.5;
        }
      }

      .message-reaction-container {
        .reacts-list,
        .msg-reaction-icon {
          border-color: var(--blue-500);
          background-color: var(--blue-600);
        }

        .msg-reaction-icon {
          .default-react-icon-thumb {
            filter: brightness(2);
          }
        }
      }
    }

    .call-msg {
      &.--callee {
        background-color: var(--white-300);
      }

      &__separator {
        border-bottom: 1px solid var(--border);
      }
    }

    // Pin Input
    .pin-input__item {
      background: var(--white-300);
      color: var(--neutral-300);
    }

    // Avatar
    .zl-avatar__alphabet {
      color: #000;
    }

    .chat-date .line {
      border-top: 1px solid var(--grey-700);
    }

    // Image Show

    .image-show__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      color: var(--neutral-base);

      > .fl-l {
        margin: 3px 10px 3px 0px !important;
      }
    }

    .image-show__bottom__sender__info {
      color: var(--neutral-base);
    }

    .image-show__bottom__ctrl {
      > .btn,
      > a > .btn {
        color: var(--neutral-base);
      }
    }

    .image-show__icon-fullscreen {
      color: var(--neutral-base);
    }

    .image-show .image-show__reaction .msg-reaction-icon {
      background: var(--neutral-base);
    }

    .image-show__thumb__legend {
      color: var(--neutral-base);
    }

    .timeline-slider__handle {
      background: var(--neutral-base);
    }

    .image-show__close {
      > .fa-close,
      > .quote-base__close-icon {
        color: var(--neutral-base);
      }
    }

    .image-show__thumb-container .btn-play {
      color: var(--neutral-base);
    }
  }
}

body.za-dark {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: auto;

  &.za-dark-chrome-ext,
  &.za-dark-win32 {
    .nav__tabs__zalo {
      height: auto;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}
