/*
  Za Dark – Best Dark Theme for Zalo Web
  Made by NCDAi
  Version 1.2
*/

html[data-theme="dark"] {
  &:root {
    --blue-700: #0f2345;
    --blue-650: #0e2d5b;
    --blue-600: #0b3a7e;
    --blue-500: #074bad;
    --blue-400: #035bdc;
    --blue-300: #3989ff;
    --blue-base: #3989ff;

    --dark-blue-200: #004bb9;
    --dark-blue-base: #004bb9;

    --grey-700: #161616;
    --grey-600: #222222;
    --grey-500: #292929;
    --grey-400: #333333;
    --grey-300: #3c3c3c;
    --grey-base: #3c3c3c;

    --dark-grey-700: #060707;
    --dark-grey-600: #121415;
    --dark-grey-500: #363b3e;
    --dark-grey-400: #666f76;
    --dark-grey-300: #96a3ad;
    --dark-grey-base: #96a3ad;

    --red-700: #431418;
    --red-600: #58181c;
    --red-500: #791a1f;
    --red-400: #a61d24;
    --red-300: #d32029;
    --red-base: #d32029;

    --orange-700: #fdf3e9;
    --orange-600: #fbd6bb;
    --orange-500: #f9ba8c;
    --orange-400: #f79e5d;
    --orange-300: #f5832f;
    --orange-base: #f5832f;

    --neutral-700: #454545;
    --neutral-600: #5b5b5b;
    --neutral-500: #7e7e7e;
    --neutral-400: #adadad;
    --neutral-300: #dcdcdc;
    --neutral-200: #e8e8e8;
    --neutral-100: #f3f3f3;
    --neutral-base: #dcdcdc;

    --green-700: #1d3712;
    --green-600: #274916;
    --green-500: #306317;
    --green-400: #3c8618;
    --green-300: #49aa19;
    --green-base: #49aa19;

    --yellow-700: ##443b11;
    --yellow-600: ##595014;
    --yellow-500: ##7c6e14;
    --yellow-400: ##aa9514;
    --yellow-300: ##d8bd14;
    --yellow-200: ##e8d639;
    --yellow-100: ##e8d639;
    --yellow-base: ##d8bd14;

    --purple-700: #24163a;
    --purple-600: #301c4d;
    --purple-500: #3e2069;
    --purple-400: #51258f;
    --purple-300: #642ab5;
    --purple-base: #642ab5;

    --pink-700: #40162f;
    --pink-600: #551c3b;
    --pink-500: #75204f;
    --pink-400: #a02669;
    --pink-300: #cb2b83;
    --pink-base: #cb2b83;

    --teal-700: #113536;
    --teal-600: #144848;
    --teal-500: #146262;
    --teal-400: #138585;
    --teal-300: #13a8a8;
    --teal-base: #13a8a8;

    --gradient-blue: linear-gradient(45deg, #408dfd, #0068ff);
    --gradient-sky-blue: linear-gradient(225deg, #00bac0, #72abff);
    --gradient-pink: linear-gradient(225deg, #ea87ff, #f2bdff);
    --gradient-orange: linear-gradient(225deg, #db342e 100%, #f5832f 0);
    --gradient-green: linear-gradient(225deg, #ffda39, #49bb82);
    --gradient-red-pink: linear-gradient(199deg, #eb8e8b, #f2bdff);
    --gradient-light-pink: linear-gradient(199deg, #ea87ff, #f2bdff);
    --gradient-purple-pink: linear-gradient(199deg, #b3a8e9, #f2bdff);
    --gradient-light-purple: linear-gradient(199deg, #7562d8, #b3a8e9);
    --gradient-purple-blue: linear-gradient(199deg, #7562d8, #0068ff);
    --gradient-light-blue: linear-gradient(199deg, #72abff, #0068ff);
    --gradient-teal-blue: linear-gradient(199deg, #00bac0, #0068ff);
    --gradient-teal-green: linear-gradient(199deg, #00bac0, #15a85f);
    --gradient-light-green: linear-gradient(199deg, #15a85f, #49bb82);
    --gradient-yellow-green: linear-gradient(199deg, #ffda39, #49bb82);
    --gradient-orange-yellow: linear-gradient(199deg, #f5832f, #ffd000);
    --gradient-red-orange: linear-gradient(199deg, #db342e, #f5832f);

    --shades-left-bar: var(--grey-500);
    --shades-left-bar-active: var(--grey-300);

    --shades-photo-bg: #545454;
    --box-input: rgba(0, 133, 255, 0.25);
    --box-input2: rgba(24, 144, 255, 0.2);
    --box-grey: rgba(0, 0, 0, 0.02);
    --box-notif: rgba(0, 26, 51, 0.1);
    --box-popover: rgba(0, 0, 0, 0.18);
    --transparent-blue08: rgba(0, 104, 255, 0.8);

    --white-700: hsla(0, 0%, 20%, 0.1);
    --white-600: hsla(0, 0%, 20%, 0.25);
    --white-500: hsla(0, 0%, 20%, 0.5);
    --white-400: hsla(0, 0%, 20%, 0.75);
    --white-300: #141414;
    --white-base: #141414;

    --black-700: rgba(0, 0, 0, 0.1);
    --black-600: rgba(0, 0, 0, 0.25);
    --black-500: rgba(0, 0, 0, 0.5);
    --black-400: rgba(0, 0, 0, 0.75);
    --black-300: #fff;
    --black-base: #fff;

    --border: var(--grey-300);
  }

  div::-webkit-scrollbar-thumb {
    background: var(--grey-300);
  }
}

html[data-theme="dark"] .za-dark-chrome-extension {
  background: var(--white-300);

  .chat-info-link__title {
    color: var(--neutral-base);
  }

  .chat-info-general__item:after {
    border-color: var(--border);
  }

  .setting-menu,
  .setting-section {
    border-color: var(--border);
  }

  .app-info__header {
    color: #fff;
    align-items: center;
  }

  .app-info__header__logo {
    height: 48px;
    margin-right: 16px;
  }

  .app-info__section {
    padding: 16px;
  }

  .message-view__blur__overlay,
  .message-view__blur__overlay_noavatar {
    background: #000;
  }

  .media-tabs__main {
    border-bottom-color: var(--border);

    &.active {
      background-color: var(--white-300);
      border-color: transparent var(--border);
    }
  }

  .emoji-tabs {
    background-color: var(--white-300);
  }

  .z--btn--fill--primary {
    color: var(--black-300);
  }

  .z--btn--fill--secondary-red {
    &.--disabled {
      color: var(--red-300);
      opacity: 0.5;
    }
  }

  .z--btn--fill--danger {
    color: var(--black-300);
  }

  .reaction-emoji-list {
    color: var(--white-400);
    border: 0.5px solid var(--grey-400);
  }

  .leftbar-tab {
    color: var(--neutral-base);
  }

  .user-status-footer {
    .footer-text {
      color: #fff;
    }
  }

  .file-sidebar__option {
    &.chat-message.first-selected,
    &.chat-message.last-selected,
    &.selected {
      background-color: var(--blue-600);
      color: #fff;
    }

    &.chat-message.first-selected > .file-sidebar__option__title,
    &.chat-message.last-selected > .file-sidebar__option__title,
    &.selected > .file-sidebar__option__title {
      color: #fff;
    }
  }

  .file-sidebar__option__icon {
    &.fa-file-icon-drive {
      color: #fff !important;
    }
    &.fa-file-icon-dropbox {
      color: #fff !important;
    }
  }

  .file-sidebar__option {
    &.chat-message.first-selected:hover,
    &.chat-message.last-selected:hover,
    &.selected:hover {
      background-color: var(--blue-500);
    }

    &.chat-message.first-selected .file-sidebar__option__icon,
    &.chat-message.last-selected .file-sidebar__option__icon,
    &.selected .file-sidebar__option__icon {
      color: var(--neutral-300);
    }
  }

  .leftbar-unread.unread-red {
    color: #fff;
  }

  .chat-onboard,
  .friend-center-main.subtract-title {
    height: 100vh;
  }

  .chips--choice.--active {
    color: #fff;
  }

  .chat-date {
    color: var(--neutral-300);

    > span {
      background: var(--white-500);
    }
  }

  #contact-search-input {
    color: var(--neutral-base);
  }

  .phone-i-input {
    color: var(--neutral-base);
    background-color: var(--white-300);
  }

  .input {
    color: var(--neutral-base);
    background-color: var(--white-300);
  }

  .chat-input__content.highlight {
    border-color: var(--blue-600);
  }

  #ztoolbar div[icon="outline-za-screenshot"] {
    display: none;
  }

  .chat-message .extra-btn {
    padding: 6px 16px;
    background-color: var(--white-500);
    color: var(--neutral-300);
    transition: all 250ms ease-in-out;

    &:hover {
      color: #fff;
    }
  }

  .chat-group-topic__item {
    min-height: 56px;

    .icon-container {
      height: 56px;
    }
  }

  .group-board-page {
    .virtualized-scroll {
      background: var(--white-base);
    }
  }

  .cb-info-file-item__actions-container {
    > div {
      background: transparent !important;
    }
  }

  #info-links-container {
    .library-media {
      > div {
        background: transparent !important;
      }
    }
  }

  #group-creator .create-group__item__link-icon {
    color: #fff;
  }

  div[data-id="div_TabCT_FrdReqList"],
  div[data-id="div_TabCT_JoinedGrpList"] {
    background: #000 !important;
  }

  .chat-message.highlighted .card:not(.card--group-photo) {
    background-color: var(--blue-700);

    &:hover {
      background-color: var(--blue-650);
    }
  }

  .sticker-selector__menu {
    height: 48px;
  }

  #stickerSelector {
    background-color: var(--white-300) !important;
  }

  .media-dock-tabs {
    height: 48px;
    border-bottom: 0;
  }

  .gradient-border.left,
  .gradient-border.right .message-view__guide__item__sign {
    .fa-sendtome-image {
      color: #fff;
    }
  }

  .card.card--undo > span {
    color: var(--neutral-300);
  }

  .card-send-time {
    color: var(--neutral-500);

    &.me {
      color: var(--neutral-300);
      opacity: 0.5;
    }
  }

  .card.me {
    .quote-name-container {
      color: var(--blue-300);
    }

    .quote-banner-content .quote-text {
      color: var(--neutral-300);
      opacity: 0.5;
    }
  }

  .message-reaction-container {
    &.me {
      .msg-reaction-icon {
        border-color: var(--blue-600);
        background-color: var(--blue-650);

        .default-react-icon-thumb {
          filter: brightness(2);
        }
      }

      .reacts-list {
        border-color: var(--blue-600);
        background-color: var(--blue-650);
      }
    }
  }

  .tipv2-content {
    color: var(--neutral-300);
  }

  // Quick Message
  .qrsc {
    background: var(--white-300);
  }
  .qri {
    background-color: var(--white-300);
  }

  .conv-action__unread .conv-unread {
    color: #fff !important;
  }

  .conv-item.chat-message.first-selected,
  .conv-item.chat-message.last-selected,
  .conv-item.selected {
    background-color: var(--grey-600);
  }

  .message-view__guide__item__sign {
    color: var(--neutral-300);
  }

  .msg-info-popup {
    .quote-banner-content .quote-text {
      color: var(--neutral-300);
      opacity: 0.5;
    }

    .rl-msg {
      .quote-banner {
        margin-bottom: 10px !important;
      }

      .msg-from-me {
        .rl-username {
          color: var(--blue-base);
        }
        .rl-msg-time {
          color: var(--neutral-300);
          opacity: 0.5;
        }
      }
    }
  }

  .multi-select-mode-selected {
    .card.card--text.show-sender > .card-sender-name {
      color: var(--neutral-300);
      opacity: 0.5;
    }

    .card-send-time {
      color: var(--neutral-300);
      opacity: 0.5;
    }

    .quote-name-container .quote-name {
      color: var(--neutral-300);
    }

    .quote-banner-content .quote-text {
      color: var(--neutral-300);
      opacity: 0.5;
    }

    .message-reaction-container {
      .msg-reaction-icon {
        border-color: var(--blue-500);
        background-color: var(--blue-600);

        .default-react-icon-thumb {
          filter: brightness(2);
        }
      }

      .reacts-list {
        border-color: var(--blue-500);
        background-color: var(--blue-600);
      }
    }
  }
}

html[data-theme="dark"] .za-dark-chrome-extension {
  // Image Show

  .image-show__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    color: var(--neutral-base);

    > .fl-l {
      margin: 3px 10px 3px 0px !important;
    }
  }

  .image-show__bottom__sender__info {
    color: var(--neutral-base);
  }

  .image-show__bottom__ctrl > .btn,
  .image-show__bottom__ctrl > a > .btn {
    color: var(--neutral-base);
  }

  .image-show__icon-fullscreen {
    color: var(--neutral-base);
  }

  .image-show .image-show__reaction .msg-reaction-icon {
    background: var(--neutral-base);
  }

  .image-show__thumb__legend {
    color: var(--neutral-base);
  }

  .timeline-slider__handle {
    background: var(--neutral-base);
  }

  .image-show__close > .fa-close,
  .image-show__close > .quote-base__close-icon {
    color: var(--neutral-base);
  }

  .image-show__thumb-container .btn-play {
    color: var(--neutral-base);
  }
}

.za-dark-chrome-extension {
  .nav__tabs__zalo {
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
